<h1>Editing Favorite</h1>

<%= render 'form', favorite: @favorite %>

<%= link_to 'Show', favorite_category_favorite_path(@favorite_category, @favorite) %> |
<%= link_to 'Back', favorite_category_favorites_path(@favorite_category) %>
