<h1>Favorites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Year</th>
      <th>Url</th>
      <th>Details</th>
      <th>Destription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.name %></td>
        <td><%= favorite.author %></td>
        <td><%= favorite.year %></td>
        <td><%= favorite.url %></td>
        <td><%= link_to 'Show', favorite_category_favorite_path(@favorite_category,favorite) %></td>
        <td><%= link_to 'Edit', edit_favorite_category_favorite_path(@favorite_category,favorite) %></td>
        <td><%= link_to 'Destroy', favorite_category_favorite_path(@favorite_category,favorite), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorite', new_favorite_category_favorite_path(@favorite_category) %>
