<h1><%= @favorite.name %></h1>

<div class="favorites__category">
  Categoría <span class="favorites__category-name"><%= @favorite.favorite_category.name %></span> <%= link_to '(volver a categoría)', favorite_category_favorites_path(@favorite_category) %>
</div>

<div class="favorites__show">

  <div class="favorites__detail">
    <span class="favorites__label">Nombre:</span>
    <span class="favorites__value"><%= @favorite.name %></span>
  </div>

  <div class="favorites__detail">
    <span class="favorites__label">Autor:</span>
    <span class="favorites__value"><%= @favorite.author %></span>
  </div>

  <div class="favorites__detail">
    <span class="favorites__label">Año:</span>
    <span class="favorites__value"><%= @favorite.year %></span>
  </div>

  <div class="favorites__detail">
    <span class="favorites__label">Dirección URL:</span>
    <span class="favorites__value"><%= @favorite.url %></span>
  </div>

  <div class="favorites__detail">
    <span class="favorites__label">Detalles:</span>
    <div class="favorites__detail-value"><%= @favorite.details %></div>
  </div>

  <div class="favorites__detail">
    <span class="favorites__label">Descripción:</span>
    <div class="favorites__detail-value"><%= @favorite.destription %></div>
  </div>

  <%= link_to 'Cambiar', edit_favorite_category_favorite_path(@favorite_category,@favorite), class: 'favorites__edit-btn' %>

</div>

