<div class="row justify-content-md-center" id="devise_sessions_new">
  <div class="col-md-8 col-lg-6 col-xl-5">
    <div class="card">
      <div class="card-header">
        <h2><%= t('.sign_in') %></h2>
      </div>
      <div class="card-body">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'mb-4'}) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group form-check">
              <%= f.check_box :remember_me, class: 'form-check-input' %>
              <%= f.label :remember_me, class: 'form-check-label' %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit t('.sign_in'), class: 'btn btn-primary', data: { disable_with: false} %>
          </div>
        <% end %>
      </div>
      <div class="card-footer">
        <%= render "devise/shared/links" %>

      </div>
    </div>

  </div>


</div>
