.show-category__title {
  font-size: 30px;
}
.show-category__name {
  color: #B00100;
  font-size: 50px;
}
.show-category__order {
  margin-top: -15px;
  font-size: 20px;
  color: #999999;
}
.show-category__description {
  display: block;
  margin: 30px 0;
  border: 2px solid #2E2F30;
  padding: 15px;
  font-style: italic;
}