.favorites__category {
  margin-top: -15px;
  font-size: 15px;
  color: #999;
}
.favorites__category-name {
  font-size: 20px;
  font-weight: bold;
  color: #B00100;
}

.favorites__detail {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid black;
}
.favorites__label {
  color: #B00100;
}
.favorites__value {
  font-weight: bold;
}
.favorites__detail-value {
  margin-left: 40px;
  font-style: italic;
}