<%= form_with(model: favorite_category, local: true, id: 'favorite_category_form') do |form| %>
  <% if favorite_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(favorite_category.errors.count, "error") %> prohibited this favorite_category from being saved:</h2>

      <ul>
      <% favorite_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" id="category_id" value="<%= favorite_category.id %>">

  <div class="form-group">
    <%= form.label :order %>
    <%= form.number_field :order, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary', data: { disable_with: false} %>
  </div>
<% end %>
