<h1>Mis favoritos</h1>

<div class="card-deck">
  <% @favorite_categories.each do |favorite_category| %>

    <div class="card">
      <img src="/categ.jpg" class="card-img-top" alt="Imagen">
      <div class="card-body">
        <h5 class="card-title"><%= favorite_category.name %></h5>
        <p class="card-text"><%= favorite_category.description %></p>
        <%= link_to "Ir al listado", favorite_category_favorites_path(favorite_category), class: 'btn btn-primary' %>
        <div class="row justify-content-end">
          <% favorite_category.comments.each do |comment| %>
            <div class="col-10 mt-2 p-2 border rounded shadow-sm">
              <%= comment.message %>
              <small class="d-block text-right text-info"><%= l(comment.created_at, format: :short) %></small>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-footer text-right">
        <small>

        <%= link_to 'Cambiar', edit_favorite_category_path(favorite_category), class: 'card-link text-secondary' %>
        <%= link_to 'Eliminar', favorite_category, class: 'card-link text-danger', method: :delete, data: { confirm: '¿Seguro? Se eliminarán la categoría y sus elementos' } %>
        </small>
      </div>
    </div>
  <% end %>
</div>

<p class="mt-3">
  <%= link_to 'Nueva categoría', new_favorite_category_path, class: 'btn btn-secondary' %>
</p>
