<h1 class="show-category__title">
  Categoría <span class="show-category__name"><%= @favorite_category.name %></span>
</h1>
<div class="show-category__order">(orden: <%= @favorite_category.order %>)</div>

<div class="show-category__description">
  <%= @favorite_category.description %>
</div>

<%= link_to 'Cambiar', edit_favorite_category_path(@favorite_category) %> |
<%= link_to 'Volver', favorite_categories_path %>
