<!DOCTYPE html>
<html>
  <head>
    <title>Myfav</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.present? %>
      <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h1" href="/">MyFav</a>
        <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: 'nav-link ml-auto'  %>
      </nav>
    <% end %>
    <div class="container">
      <% flash.each do |key, value| %>
        <% unless key == 'timedout' %>
          <div class="alert alert-full-width alert-full-width--between-titles alert-dismissible fade show alert-<%= case key when 'alert' then 'danger'; when 'notice' then 'success'; else key end %>">
            <%= value %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      <% end %>
        <%= yield %>
    </div>
  </body>
</html>
